<ui:composition template="/WEB-INF/templates/workflowTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">Document Management System - Workflow list</ui:define>

	<ui:define name="content">

		<p:panel header="Workflow list" styleClass="small-panel-top-margin">
			<p:outputPanel layout="block"
				styleClass="left-page-column left-column">
				<p:outputPanel layout="block" styleClass="left-page-column-content">
					<!-- Lewa kolumna -->
					Workflow list
				</p:outputPanel>
			</p:outputPanel>
			<p:outputPanel layout="block"
				styleClass="right-page-column right-column">
				<p:outputPanel layout="block" styleClass="right-page-column-content">
					<h:form id="workflowsForm">
						<p:dataTable id="workflowsTable"
							value="#{workflowsBean.workflows}" var="workflow"
							emptyMessage="Empty workflow list." paginator="true" rows="10"
							paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink}">

							<p:column headerText="Name">
								<p:outputLabel value="#{workflow.name}" />
							</p:column>

							<p:column headerText="Actions">
								<p:commandButton id="updateButton" title="Edytuj"
									icon="ui-icon ui-icon-pencil"
									action="#{workflowsBean.navigateToWorkflow(workflow.id)}" />
							</p:column>

						</p:dataTable>
					</h:form>
				</p:outputPanel>
			</p:outputPanel>

			<p:outputPanel id="footer" layout="block" styleClass="clear"></p:outputPanel>
		</p:panel>
	</ui:define>

</ui:composition>