<ui:composition template="/WEB-INF/templates/workflowTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="workflowId" value="#{workflowBean.workflowId}" />
		<f:event type="preRenderView" listener="#{workflowBean.preRender()}" />
	</f:metadata>

	<ui:define name="title">Document Management System - Workflow</ui:define>

	<ui:define name="content">

		<p:panel header="Workflow" styleClass="small-panel-top-margin">
			<p:outputPanel layout="block"
				styleClass="left-page-column left-column">
				<p:outputPanel layout="block" styleClass="left-page-column-content">
					<!-- Lewa kolumna -->
					Workflow
				</p:outputPanel>
			</p:outputPanel>
			<p:outputPanel layout="block"
				styleClass="right-page-column right-column">
				<p:outputPanel layout="block" styleClass="right-page-column-content">

					<p:outputPanel id="createWorkflowPanel"
						rendered="#{empty workflowBean.workflowId or workflowBean.workflowId le 0}">

						<h:form id="createWorkflowForm">
							<h:panelGrid id="createWorkflowGrid" columns="2">

								<p:outputLabel value="Name:" />
								<p:inputText value="#{workflowBean.workflow.name}" />

							</h:panelGrid>

							<p:commandButton action="#{workflowBean.createWorkflow()}"
								update=":blockForm:growl" value="Create" />
						</h:form>

					</p:outputPanel>

					<p:outputPanel id="editWorkflowPanel"
						rendered="#{not empty workflowBean.workflowId and workflowBean.workflowId gt 0}">

						<h:form id="editWorkflowForm">
							<h:panelGrid id="editWorkflowGrid" columns="2">
								<p:outputLabel value="Name:" />
								<p:inputText value="#{workflowBean.workflow.name}" />
							</h:panelGrid>

							<p:commandButton id="deleteWorkflowButton"
								actionListener="#{workflowBean.deleteWorkflow()}" value="Delete"
								update=":blockForm:growl" />
						</h:form>

						<h:form id="editWorkflowStatesForm">
							<p:commandButton value="Create state"
								oncomplete="PF('stateDialog').show();"
								update=":blockForm:growl,:editWorkflowStatesForm" />


							<p:dataTable id="statesTable"
								value="#{workflowBean.statesForWorkflow}" var="state"
								emptyMessage="Empty state list." paginator="false">

								<p:column headerText="Name">
									<p:outputLabel value="#{state.name}" />
									<p:commandButton id="deleteStateButton" title="Delete"
										rendered="#{state.type eq statusBean.standard.value}"
										icon="ui-icon ui-icon-trash" ajax="false"
										actionListener="#{workflowBean.deleteState(state.id)}" />
								</p:column>

								<p:column headerText="Status">
									<p:outputLabel
										value="#{statusBean.stateStatusName(state.status)}" />
								</p:column>

								<p:column headerText="Type">
									<p:outputLabel value="#{statusBean.stateTypeName(state.type)}" />
								</p:column>

								<p:column headerText="Actions">
									<p:outputPanel layout="block"
										rendered="#{state.type ne statusBean.notregister.value and state.type ne statusBean.end.value}">
										<p:commandButton id="addActionButton" value="Add action"
											actionListener="#{workflowBean.chosenStateId(state.id)}"
											oncomplete="PF('actionDialog').show();"
											update=":editWorkflowStatesForm:actionDialogId" />
										<br />
										<br />
									</p:outputPanel>
									<ui:repeat var="action"
										value="#{workflowBean.getActionsForState(state.id)}">
										#{action.name}, next state: #{workflowBean.nextStateName(action.toStateId)}, role: #{workflowBean.roleNameForAction(action.id)}
										<p:commandButton id="deleteStateButton" title="Delete"
											icon="ui-icon ui-icon-trash" ajax="false"
											actionListener="#{workflowBean.deleteAction(action.id)}"
											rendered="#{state.type ne statusBean.notregister.value}" />
										<br />
									</ui:repeat>

								</p:column>

							</p:dataTable>

							<p:dialog id="stateDialogId" widgetVar="stateDialog" modal="true">
								<h:panelGrid id="stateGrid" columns="2">
									<p:outputLabel value="Name:" />
									<p:inputText value="#{workflowBean.newStateName}" />
								</h:panelGrid>

								<br />
								<p:commandButton value="Create state"
									actionListener="#{workflowBean.createState()}"
									oncomplete="PF('stateDialog').close();"
									update=":blockForm:growl,:editWorkflowStatesForm" />
							</p:dialog>


							<p:dialog id="actionDialogId" widgetVar="actionDialog"
								modal="true">
								<h:panelGrid id="actionGrid" columns="2">
									<p:outputLabel value="Name:" />
									<p:inputText value="#{workflowBean.newActionName}" />

									<p:outputLabel value="Selected role:" />
									<p:selectOneMenu value="#{workflowBean.selectedRole}">
										<f:selectItems value="#{workflowBean.roles}" var="role"
											itemLabel="#{role}" itemValue="#{role}" />
									</p:selectOneMenu>


									<p:outputLabel value="Selected state:" />
									<p:selectOneMenu value="#{workflowBean.selectedStateId}">
										<f:selectItems value="#{workflowBean.statesForAction}"
											var="stateForAction" itemLabel="#{stateForAction.name}"
											itemValue="#{stateForAction.id}" />
									</p:selectOneMenu>

								</h:panelGrid>
								<br />
								<p:commandButton value="Create action"
									actionListener="#{workflowBean.createAction()}"
									oncomplete="PF('actionDialog').close();"
									update=":blockForm:growl,:editWorkflowStatesForm" />
							</p:dialog>

						</h:form>

					</p:outputPanel>

				</p:outputPanel>
			</p:outputPanel>

			<p:outputPanel id="footer" layout="block" styleClass="clear"></p:outputPanel>
		</p:panel>
	</ui:define>

</ui:composition>