<ui:composition template="/WEB-INF/templates/documentTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="documentId" value="#{documentBean.documentId}" />
		<f:event type="preRenderView" listener="#{documentBean.preRender()}" />
	</f:metadata>

	<ui:define name="title">Document Management System - Process Document</ui:define>

	<ui:define name="content">

		<p:panel header="Process document" styleClass="small-panel-top-margin">
			<p:outputPanel layout="block"
				styleClass="left-page-column left-column">
				<p:outputPanel layout="block" styleClass="left-page-column-content">
					<!-- Lewa kolumna -->
					Process Document
				</p:outputPanel>
			</p:outputPanel>
			<p:outputPanel layout="block"
				styleClass="right-page-column right-column">
				<p:outputPanel layout="block" styleClass="right-page-column-content">

					<p:outputPanel id="createDocumentPanel"
						rendered="#{empty documentBean.documentId or documentBean.documentId le 0}">

						<h:form id="createDocumentForm">
							<h:panelGrid id="createDocumentGrid" columns="2">

								<p:outputLabel value="Name:" />
								<p:inputText value="#{documentBean.document.name}" />

								<p:outputLabel value="Workflow type" />
								<p:selectOneMenu value="#{documentBean.workflowId}">
									<f:selectItems value="#{documentBean.workflows}" var="workflow"
										itemLabel="#{workflow.name}" itemValue="#{workflow.id}" />
								</p:selectOneMenu>

							</h:panelGrid>

							<p:commandButton action="#{documentBean.createDocument()}" update=":blockForm:growl"
								value="Create" />
						</h:form>

					</p:outputPanel>

					<p:outputPanel id="editDocumentPanel"
						rendered="#{not empty documentBean.documentId and documentBean.documentId gt 0}">

						<h:form id="editWorkflowStatesForm">

							<p:dataTable id="statesTable"
								value="#{documentBean.statesForWorkflow}" var="state"
								emptyMessage="Empty state list." paginator="false">

								<p:column headerText="Name">
									<p:outputLabel style="#{documentBean.stateColor(state.id)}"
										value="#{state.name}" />
								</p:column>

								<p:column headerText="Status">
									<p:outputLabel
										value="#{statusBean.stateStatusName(state.status)}" />
								</p:column>

								<p:column headerText="Type">
									<p:outputLabel value="#{statusBean.stateTypeName(state.type)}" />
								</p:column>

								<p:column headerText="Actions">
									<ui:repeat var="action"
										value="#{documentBean.getActionsForState(state.id)}">
										<p:outputPanel style="#{documentBean.actionColor(action.id)}">#{action.name}, next state: #{documentBean.nextStateName(action.toStateId)}, role: #{documentBean.roleNameForAction(action.id)}</p:outputPanel>
										<p:commandButton id="executeActionButton"
											title="Execute action" icon="ui-icon ui-icon-play"
											ajax="false"
											actionListener="#{documentBean.executeAction(action.id)}"
											rendered="#{documentBean.hasUserRoleForAction(action.id) and documentBean.activeState(state.id)}" />
										<br />
									</ui:repeat>
								</p:column>

							</p:dataTable>

						</h:form>

					</p:outputPanel>



				</p:outputPanel>
			</p:outputPanel>

			<p:outputPanel id="footer" layout="block" styleClass="clear"></p:outputPanel>
		</p:panel>
	</ui:define>

</ui:composition>