<ui:composition template="/WEB-INF/templates/documentTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">Document Management System - Process document list</ui:define>

	<ui:define name="content">

		<p:panel header="Process document list"
			styleClass="small-panel-top-margin">
			<p:outputPanel layout="block"
				styleClass="left-page-column left-column">
				<p:outputPanel layout="block" styleClass="left-page-column-content">
					<!-- Lewa kolumna -->
					Process document list
				</p:outputPanel>
			</p:outputPanel>
			<p:outputPanel layout="block"
				styleClass="right-page-column right-column">
				<p:outputPanel layout="block" styleClass="right-page-column-content">

					<h:form id="documentsForm">
						<p:dataTable id="documentsTable"
							value="#{documentsBean.documents}" var="document"
							emptyMessage="Empty document list." paginator="true" rows="10"
							paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink}">

							<p:column headerText="Name">
								<p:outputLabel value="#{document.name}" />
							</p:column>

							<p:column headerText="Actions">
								<p:commandButton id="updateButton" title="Edytuj"
									icon="ui-icon ui-icon-pencil"
									action="#{documentsBean.navigateToDocument(document.id)}" />
							</p:column>

						</p:dataTable>
					</h:form>

				</p:outputPanel>
			</p:outputPanel>

			<p:outputPanel id="footer" layout="block" styleClass="clear"></p:outputPanel>
		</p:panel>
	</ui:define>

</ui:composition>