@CHARSET "UTF-8"

/* NORMALIZER - start */

html { font-family: sans-serif;
/* 1 */
-webkit-text-size-adjust:100%; /* 2 */
-ms-text-size-adjust:100%; /* 2 */
}

.action-delete-button {
	border: 0px !important;
	width: 16px !important;
	height: auto !important;
	background: transparent !important;
	margin: 0px !important;
	padding: 0px !important;
	display: inline;
	-webkit-box-shadow: none !important;
	text-shadow: none !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.action-delete-button .ui-button-text {
	padding: 0px !important;
}

.ui-chkbox .ui-state-disabled {
	opacity: 0.7;
}

body {
	margin: 0;
}

b, strong {
	font-weight: bold;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
}

img {
	border: 0;
}

/* NORMALIZER - end */

/* PAGE TEMPLATE - start*/
.page-wrapper {
	min-width: 980px;
	margin: 0px 5px;
}

.top-page {
	padding-top: 10px;
	height: 120px;
}

.company-logo {

}

.left-small-margin {
	margin-left: 5px;
}

.left-column-standar-margin {
	margin-left: 20px;
}

.right-column-standar-margin {
	margin-right: 20px;
}

.left-column {
	float: left;
}

.right-column {
	float: right;
}

.right-page-column {
	width: 80%;
}

.left-page-column {
	width: 20%;
}

.left-page-column-content {
	margin-right: 5px;
	/*background: #FFE1FF;*/
}

.right-page-column-content {/*background: #FFE1FF;*/

}

.resizable-with-item {
	width: 100%;
}

.resizable-with-item-column1 {
	text-align: left;
	width: 150px;
}

.resizable-with-item-column2 {
	text-align: left;
}

.clear {
	clear: both;
	/*	background: #cc9;*/
}

/* PAGE TEMPLATE - end*/

/* LARGE COMPONENTS - start */
.large-width {
	/*width: 100% !important;*/
	width: 650px !important;
}

.large-height {
	height: 650px;
}

.large-width-form {

}

/* LARGE COMPONENTS - end */

/* SMALL COMPONENTS - start */
.small-width-form {
	width: 450px;
}

.small-width {
	width: 450px;
}

.small-panel-top-margin {
	margin-top: 5px;
}

.small-panel-bottom-margin {
	margin-bottom: 5px;
}

.small-panel-top-padding {
	padding-top: 5px;
}

.small-panel-bottom-padding {
	padding-bottom: 5px;
}

/* SMALL COMPONENTS - end */

/* MEDIUM COMPONENTS - start */
.medium-min-width {
	min-width: 500px;
}

.medium-min-height {
	min-height: 500px;
}

.medium-width {
	width: 500px;
}

.medium-height {
	height: 500px;
}

.medium-height-back-margin {
	margin-top: -250px !important;
}

.medium-width-back-margin {
	margin-left: -250px !important;
}

.medium-width-form {

}

.medium-max-width {
	max-width: 500px;
}

.medium-panel-top-margin {
	margin-top: 10px;
}

.medium-form-button-margin {
	margin: 10px 0px 0px 5px;
}

.medium-form-first-button-margin {
	margin-left: 0px;
}

/* MEDIUM COMPONENTS - end */

/* OTHER COMPONENTS - start */

.position-equal-status-image {
	vertical-align: 6px;
}

.position-vertical-align-top{
	vertical-align: top;
}

.no-border {
	border-width: 0 !important;
}

.vertical-align-align-selectonemenu {
	vertical-align: 10px;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.outer-center-on-page {
	margin: 0px;
	padding: 0px;
}

.inner-center-on-page {
	margin-left: auto !important;
	margin-right: auto !important;
}

.absolute-center-on-page {
	left: 50%;
	top: 50%;
	position: absolute;
}

.ui-dt-c {
	padding: 1px !important;
}

.week {
	float: left;
	width: 27px;
	height: 43px;
	text-align: center;
	margin-right: 1px;
}

.week-weekly-meeting {
	float: left;
	width: 45px;
	height: 43px;
	text-align: center;
	margin-right: 1px;
}

.week-number {
	background: #FFE1FF;
	width: 100%;
	display: block;
}

.week-value-output-panel {
	width: 45px;
	float: left;
	text-align: center;
	margin-right: 1px;
}

.week-value {
	width: 35px;
}

.strong {
	font-weight: bold;
}

.week-column {
	width: 366px;
}

.priority-grid tr, .priority-grid td {
	border: none !important;
}

.priority-name {
	font-weight: bold;
	font-size: 20px;
}

.kpi-table {
	margin-bottom: 30px;
}

#add_form:note {
	width: 100%;
}

.quarter-select {
	width: 200px !important;
}

.quarter-large-width-select {
	width: 250px !important;
}

/* OTHER COMPONENTS - end */