<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="example.css" />
	<title>Document Management System - Welcome page</title>
</h:head>

<h:body styleClass="medium-min-width medium-min-height">
	<p:outputPanel layout="block" id="loginContainer"
		styleClass="medium-width medium-height medium-height-back-margin medium-width-back-margin absolute-center-on-page">
		<h1 class="text-align-center">Document Management System</h1>
		<p:panel id="loginPanel" header="Panel logowania">
			<h:form id="loginForm" prependId="false">
				<p:growl id="growl" showDetail="true" />
				<h:panelGrid id="panel" columns="1"
					styleClass="no-border text-align-left">

					<p:outputLabel id="loginOutputLabel" value="Nazwa użytkownika"
						for="loginInputText" />
					<p:inputText id="loginInputText" value="#{loginBean.login}"
						maxlength="20" required="true"
						requiredMessage="Nazwa użytkownika jest wymagana" size="20" />

					<p:outputLabel id="passwprdOutputLabel" value="Hasło"
						for="passwordInputText" />
					<p:password id="passwordInputText" value="#{loginBean.password}"
						maxlength="20" required="true"
						requiredMessage="Hasło jest wymagane" size="20" />

				</h:panelGrid>

				<p:commandButton id="loginButton" value="Zaloguj"
					actionListener="#{loginBean.login()}" update="growl"
					styleClass="medium-form-first-button-margin" />
			</h:form>

		</p:panel>
	</p:outputPanel>
</h:body>

</html>