<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">Document Management System - Dashboard</ui:define>

	<ui:define name="content">

		<p:panel header="Dashboard" styleClass="small-panel-top-margin">
			<p:outputPanel layout="block"
				styleClass="left-page-column left-column">
				<p:outputPanel layout="block" styleClass="left-page-column-content">
					<!-- Lewa kolumna -->
					Main dashboard
				</p:outputPanel>
			</p:outputPanel>
			<p:outputPanel layout="block"
				styleClass="right-page-column right-column">
				<p:outputPanel layout="block" styleClass="right-page-column-content">
					<p>Right</p>
				</p:outputPanel>
			</p:outputPanel>

			<p:outputPanel id="footer" layout="block" styleClass="clear"></p:outputPanel>
		</p:panel>
	</ui:define>

</ui:composition>