<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="dms.css" />
	<title><ui:insert name="title">Document Management System - Blitzkrieg</ui:insert></title>
	<ui:insert name="addHead"></ui:insert>
</h:head>

<h:body>
	<p:outputPanel layout="block" id="pageContainer"
		styleClass="page-wrapper">

		<ui:insert name="header">
			<p:outputPanel id="header" styleClass="top-page top-header"
				layout="block">
				<p:outputPanel id="logo" styleClass="company-logo left-column">
					LOGO Blitzkrieg
				</p:outputPanel>
				<p:outputPanel id="rightTopMenu"
					styleClass="right-column right-column-standar-margin">
					<p:outputPanel id="top-right-user-menu-wrapper"
						styleClass="right-column" layout="block">
						Hello #{userSessionBean.login}.<br />
						<h:form id="top-user-menu" prependId="false">
							<p:commandLink value="Wyloguj" process="@this"
								action="#{loginBean.logout()}" />
							<br />
						</h:form>
					</p:outputPanel>
					<p:outputPanel id="top-left-user-menu-wrapper"
						styleClass="left-column right-column-standar-margin"
						layout="block">
					</p:outputPanel>
				</p:outputPanel>
			</p:outputPanel>
		</ui:insert>

		<p:outputPanel id="tab">
			<h:form id="blockForm" prependId="false">
				<p:growl id="growl" showDetail="true" globalOnly="true" />
				<ui:insert name="menu">
					<p:tabMenu>
						<p:menuitem value="Workflows" url="workflow/main.xhtml" rendered="#{userSessionBean.hasRole('DMS_ADMIN')}"/>
						<p:menuitem value="Documents" url="document/main.xhtml" />
					</p:tabMenu>
<!-- 					<p:menubar styleClass="small-panel-top-margin"> -->
<!-- 						<p:menuitem value="Documents" url="document/main.xhtml" /> -->
<!-- 						<p:menuitem value="Create document" url="document/document.xhtml" /> -->
<!-- 					</p:menubar> -->
				</ui:insert>
			</h:form>
		</p:outputPanel>

		<p:outputPanel id="contentWrapper" layout="block">
			<ui:insert name="content">
				<p:panel header="Template" styleClass="small-panel-top-margin">
					<p:outputPanel layout="block"
						styleClass="left-page-column left-column">
						<p:outputPanel layout="block"
							styleClass="left-page-column-content">
							<h2>Template lewa kolumna</h2>
							<p>Lewa kolumna.</p>
						</p:outputPanel>
					</p:outputPanel>
					<p:outputPanel layout="block"
						styleClass="right-page-column right-column">
						<p:outputPanel layout="block"
							styleClass="right-page-column-content">
							<p>Prawa kolumna.</p>
						</p:outputPanel>
					</p:outputPanel>

					<p:outputPanel id="footer" layout="block" styleClass="clear"></p:outputPanel>
				</p:panel>
			</ui:insert>
		</p:outputPanel>
	</p:outputPanel>
</h:body>

</html>





